body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.hoverable {

}

.hoverable div:hover {
    background-color: rgb(245, 245, 245);
}

.inhabitant-flying-over {
    background-color: steelblue !important;
}

.actionIcon {
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 10px;
    -webkit-border-bottom-left-radius: 8px;
    -moz-border-radius-bottomleft: 8px;
    border-bottom-left-radius: 8px;
}
.actionIcon:hover {
    background-color: #e1e1e1;
    /*padding: 2px;*/
    color: steelblue !important;
}